* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(blueviolet, rgb(77, 21, 134));
}
#insert {
    background: white;
    padding: 50px;
    border: 3px solid crimson;
}
.key {
    padding: 20px;
    background: rgba(137,43,226,0.767);
    border: none;
    border: 2px solid #ffa31a;
    color: white;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;

}
.key small {
  position: absolute;
  top: -19px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #790909;
  font-size: 14px;
}